@import "tailwindcss";

@theme {
  --color-valentine-brand: #C08081;
  --color-valentine-surface: #262626;
  --color-valentine-text: #EDEDED;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);

  --animate-shake: shake 0.5s ease-in-out;
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
  }
}

body {
  background-color: #1a1a1a;
  color: var(--color-valentine-text);
}