@import "tailwindcss";

@theme {
  --color-valentine-brand: #C08081;
  --color-valentine-surface: #262626;
  --color-valentine-text: #EDEDED;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}

body {
  background-color: #1a1a1a;
  color: var(--color-valentine-text);
}